body{
    counter-reset: row;
}
.wrapper{
    margin: 0 auto;
    width:500px;
    height:300px;
    border: 2px solid #ec0584;
    display:grid;
    grid-template-rows: repeat(3,1fr);
}

div[class*='contain']{
    border-top:2px solid #ec0584;
    align-items: center; 
}

.contain1{
    display: grid;
    grid-template-columns: repeat(2,100px);;
}
.contain2{
    display: grid;
    grid-template-columns: repeat(3,100px);;
}
.contain3{
    display: grid;
    grid-template-columns: repeat(4,100px);;
}
div.box{
    width: 80px;
    height: 80px;
    background: #8c02e9;
    display: grid;
    justify-self: center;
    text-align: center;
    line-height: 80px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}
div.box::before{
    counter-increment: row;
    content: counter(row);
}