<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <style>
  html,body{
      height:100%;
      margin: 0;
      padding: 0;
  }
    </style>
</head>
<body>
   
    <div class="main">
        woshi
    </div>
    
</body>
<script>
 let a = document.getElementsByClassName('main');
 let b =$("#main");
 console.log(a);

   
   
</script>
</html>